.report-container {
  /* padding: 1.25rem; */
  display: flex;
  flex-direction: column;
}

.panel {
  margin-bottom: 0rem;
  padding: 0.625rem;
}

.card-dummy {
  flex: 1;
  width: 14.375rem;
  border-radius: 0.25rem;
  height: 9.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.625rem;
}

.card-icon-size {
  width: 2rem;
  height: 2rem;
  margin-bottom: -0.5rem;
}

.card-value {
  font-size: 0.75rem;
  font-weight: 600;
  color: #00a269;
  margin-bottom: -0.3125rem;
  /* background-color: #aca9a9; */
}

.card-dummy .p-card-title {
  font-size: 0.55rem;
  font-weight: bold;
  color: #000;
  margin-top: 0rem;
}

.custom-header {
  color: #333;
  font-size: 0.75rem;
  font-weight: bold;
  text-align: center;
  /* margin-top: 1rem; */
  /* margin-bottom: 1rem; */
  /* border-bottom: 2px solid #00A269; */
}

.vertical-card-header {
  color: #00a269;
  font-size: 0.625rem;
  margin-bottom: 0rem;
  font-weight: bold;
  text-transform: uppercase;
  /* margin-top: -2rem; */
}

.vertical-card-p {
  font-size: 0.9375rem;
  color: #000;
}

.canvasjs-chart-canvas {
  /* position: relative !important; */
}

.card-uniform {
  height: 250px;
  width: 320px;
  padding: 1rem;
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
