.custom-tooltip-container {
  position: relative;
  display: inline-block; /* Ensure the container is inline-block for proper positioning */
}

.custom-tooltip-content {
  visibility: hidden;
  opacity: 0; /* Ensure smooth fade-in effect */
  transition: opacity 0.3s ease; /* Smooth transition for tooltip visibility */
  position: absolute;
  bottom: 80%; /* Position the tooltip above the element */
  left: 30%; /* Center the tooltip horizontally relative to the parent */
  transform: translateX(-90%); /* Center the tooltip horizontally */
  /*margin-bottom: 8px; /* Space between the card and the tooltip */
  /* background-color: white; /* Background color for the tooltip */
  /*border: 1px solid #ccc; /* Optional border */
  /*padding: 8px; /* Padding inside the tooltip */
  /*box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Optional shadow */
  z-index: 1000; /* Ensure it is above other elements */
  white-space: normal;
  padding: 1rem;
  /*width: auto; /* Adjust width based on content */
  /* Optional: prevent the tooltip from becoming too wide */
}

.custom-tooltip-container:hover .custom-tooltip-content {
  visibility: visible;
  opacity: 1; /* Make the tooltip visible on hover */
}
