.custom-dropdown-panel .p-dropdown-item {
    white-space: pre-wrap;
    padding: 0.25rem; /* Reduce padding for smaller menu items */
    border-bottom: 1px solid #ccc; /* Add divider between menu items */
  }
  
  .custom-dropdown-panel .p-dropdown {
    max-width: 150px; /* Adjust max-width for dropdown menu */
  }
  
  .custom-dropdown-panel {
    max-width: 150px; /* Ensure the panel itself doesn't exceed this width */
  }
  
  .custom-dropdown-panel::-webkit-scrollbar {
    width: 2px; /* Reduce the width of the scrollbar */
  }
  
  .custom-dropdown-panel::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .custom-dropdown-panel::-webkit-scrollbar-thumb {
    background: #ccc;
    /* border-radius: 5px; */
  }
  
  .custom-dropdown-panel::-webkit-scrollbar-thumb:hover {
    background: #888;
  }
  