@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 12px;
}

body {
  background-color: #f3f5f5;
  overflow-x: hidden;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-theme {
  color: var(--text-theme);
}

.text-sec-theme {
  color: var(--text-black);
}

.text-third-theme {
  color: var(--text-secondary);
}

.bg-theme {
  background-color: var(--theme-primary-color);
}

.sec-theme {
  background-color: var(--theme-secondary);
}

.text {
  color: var(--text-color);
}

.text-primary1 {
  color: var(--text-primary);
}

.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background-color: var(--theme-primary-color);
}

.p-carousel {
  width: 100%;
}
.p-button.p-button-icon-only {
  background-color: #166c7d;
}
.indicator .p-carousel .p-carousel-indicators .p-carousel-indicator {
  border-radius: 50%;
}
/* .p-panel {
  display: flex !important;
  flex-wrap: wrap !important;
} */
.p-panel .p-panel-header {
  background: var(--theme-secondary);
}

.p-panel .p-panel-header .p-panel-title {
  font-size: 1.25rem;
  color: var(--text-color-theme);
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  border-color: var(--text-color-theme);
  color: var(--text-color-theme);
}
.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  background-color: transparent;
  color: #000;
  text-decoration: none;
}

.text-active {
  /* color: #007ad9; Active color */
  /*color: #007bff;  Highlight color */
  /* background-color: #E9F3F5; */
  /* font-weight: bold; */
  text-decoration: none;
  border-bottom: 2px solid #166c7d;
  color: #166c7d; /* Bottom border to show as active */
}
.icon-active {
  font-weight: bold;
  text-decoration: none;
  color: #166c7d;
}

.p-carousel .p-carousel-content .p-carousel-prev:enabled:hover,
.p-carousel .p-carousel-content .p-carousel-next:enabled:hover {
  color: var(--theme-primary-color);
}

.p-carousel .p-carousel-content .p-carousel-prev,
.p-carousel .p-carousel-content .p-carousel-next {
  color: var(--theme-primary-color);
}
.p-menubar
  .p-menubar-root-list
  > .p-menuitem
  > .p-menuitem-content
  .p-menuitem-link {
  padding: 0 0.5rem !important;
}

.text-disabled {
  color: #4b95a4;
}

.p-sidebar .p-sidebar-content {
  padding: 0;
}

.p-tabview .p-tabview-panels,
.p-tabview-nav {
  background: transparent;
}

/* .p-dialog .p-dialog-header {
  padding: 0 !important;
}
.p-dialog .p-dialog-header-icons {
  padding: 0.1rem 0.5rem !important;
} */

/* .p-card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.p-card-body {
  padding: 0;
} */

.shadow {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.p-tooltip-arrow {
  color: white;
}
.p-tooltip-text {
  background-color: white;
  color: #282c34;
  padding: 0.8rem;
  font-weight: 500;
}
